html, body{font-family: Arial, Helvetica, sans-serif; background-color:#000;}
body {margin: 8px;}
h2{font-size: 1.5em; text-align: center;}
.header{height: 100px;}
button{border:none;}
.logo{width:300px; float: left;}
.report{max-width:800px; float: right;}
.report button{width:100px; padding:14px; border:none; border-radius: 25px;}
.report button a{color:#fff; text-decoration: none; font-weight: bold;}
.pink{background-color: #d73185;}
.column {float: left;}
.column a{color:#000;}
.column h5{margin: 0 auto; text-align: center; font-weight: bold; font-size:7.5em;}
.column h6{margin: 0 auto; text-align: center; font-variant: small-caps;}
.middle.column h6 {margin: 0 auto; text-align: center; font-variant: small-caps; line-height: 1.2; font-family: monospace; font-size: 1.25em; text-align: center; margin-left: 5px;}
.column p {margin-block-start: .1em;font-size: .75em;text-align: center;font-family: monospace;}
.row:after {content: ""; display: table; clear: both;}
div.description{background-color: white; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding-left: 10px; padding-top: 10px;}
.left{max-width:500px; width:50%;}
.left h2{color: #fff;}
.middle{max-width: 300px; height: 300px; width:25%; background-color:#e2e369;}
.right{max-width: 300px; height: 300px; width:25%; background-color: #37a2e4;}
#wrapper{width:100%;}
#container{min-height:1100px; margin: 0 auto;}
.row{ display: block; padding-top: 10px; --bs-gutter-x: 0;}
.chartruce{background-color: #e2e369;}
td{word-break: break-word}
.start{border-top-left-radius: 10px; border-top-right-radius: 10px;}
.container-light{background-color: white; padding-left: 10px;}
.container-dark{color: white; background-color: #28313E; padding-left: 10px;}
.form-switch{margin-left: 5px}
.btn-light{ background-color: #DFE0E0; border-color: #DFE0E0;}
.btn-dark{ background-color: #0b0c0e; border-color: #0b0c0e; }